
body,
ul {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  margin: 2rem auto;
  padding: 1rem;
  width: 80%;
  max-width: 600px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #def5a58a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 0.5rem 0;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.completed {
  text-decoration: line-through;
  color: rgb(20, 231, 66);
}


input[type="text"] {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 0.5rem;
  flex-grow: 1;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #00ccff;
  size: 5px;
  color: white;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #b32a00;
}


label {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  font-weight: bold;
  color: #555;
}

input[type="checkbox"] {
  margin-left: 0.5rem;
}




